[git]
    # auto commit changes
    autoCommit = true
    # auto push changes
    autoPush = true
[edit]
    # auto apply after chezmoi edit
    apply = true
[diff]
    command = "delta"
    pager = "delta"
