{
  "attribution": {
    "commit": "",
    "pr": ""
  },
  "permissions": {
    "allow": [
      "Bash",
      "Edit",
      "Glob",
      "Grep",
      "LS",
      "MultiEdit",
      "NotebookEdit",
      "NotebookRead",
      "Read",
      "Task",
      "TodoWrite",
      "WebFetch",
      "WebSearch",
      "Write"
    ],
    "ask": [],
    "defaultMode": "auto"
  },
  "model": "claude-opus-4-8[1m]",
  "hooks": {
    "PreToolUse": []
  },
  "statusLine": {
    "type": "command",
    "command": "bash /Users/bcasey/.claude/statusline-command.sh"
  },
  "enabledPlugins": {
    "rust-analyzer-lsp@claude-plugins-official": false,
    "playwright@claude-plugins-official": false,
    "frontend-design@claude-plugins-official": true,
    "chrome-devtools-mcp@claude-plugins-official": {{ if eq (env "RUNNING_IN_DOCKER") "true" }}false{{ else }}true{{ end }}
  },
  "feedbackSurveyRate": 0,
  "syntaxHighlightingDisabled": true,
  "effortLevel": "high",
  "tui": "default",
  "skipDangerousModePermissionPrompt": true,
  "theme": "custom:onedark",
  "fileCheckpointingEnabled": true,
  "skipAutoPermissionPrompt": true
}
